*,
*:before,
*:after {
  box-sizing: border-box;
}

*:hover,
*:hover:before,
*:hover:after {
    cursor: pointer; /* Change the cursor to a pointer when hovering over the div */
    transition: background-color 0.3s ease; 
}


html {
    width: 100%;
    max-width: 100%;
    color: #165050;
    border-color: #1c6363;
    white-space: normal;
    font-family: 'Karla', sans-serif;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left top;
}

body {
    position: relative;
    top: 0;
    width: 100%;
    overflow-x: hidden;
}

#grid-container {
    height: auto;
}

.hidden {
    display: none !important;
}

.button-core {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #165050;
}

/* 
| GRADIENT DISPLAY RULES
|
+-------------------------------------------------------*/
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2.3px solid #1c6363;
    position: relative;
}

/* 
| GRADIENT DISPLAY RULES
|
+-------------------------------------------------------*/
.grid-item.no-gradient {
    background-image: none !important;
}

.button-skills-select {
    background-color: white;
    background-image: linear-gradient(to right, #f5a3d3, #edd98b) !important;
    font-weight: 400;
}

.button-projects-select {
    background-color: white;
    background-image: linear-gradient(to right, #edd98b,  #8dc6d8) !important;
    font-weight: 400;
}

.button-contact-select {
    background-color: white;
    background-image: linear-gradient(to right, #8dc6d8, #f5a3d3) !important;
    font-weight: 400;
}

.button-skills-select, .project-detail-grid-title:hover {
    background-image: linear-gradient(to right, #edd98b,  #8dc6d8, #f5a3d3);
}




/* 
| CARD DISPLAY RULES
|
+-------------------------------------------------------*/
.detail {
    font-family: 'Courier Prime';
    font-weight: bold;
    padding-left: 15px;
}

.card-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card-text {
    position: absolute;
    bottom: 0;
}

.card-detail {
    padding-left: 8px;
    position: relative;
}

/* 
| BUTTON RULES
|
+-------------------------------------------------------*/
.button {
    font-family: 'Karla', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    position: relative;
}

.button-wrap {
    font-family: 'Courier Prime';
    font-size: 1.3em !important;
    padding: 2px 17px; /* Provide internal space around the content */
    margin: 0px 3px;
    border: 2px solid transparent;
}

.button-wrap:hover {
    background-color: #96dfde;
    text-align: center; /* Align the text to the center */
    cursor: pointer; /* Change the cursor to a pointer when hovering over the div */
    transition: background-color 0.3s ease; /* Add a transition effect when hovering over the div */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Add a shadow effect */
}

.full-row-item {
    border-bottom: 1.8px solid #1c6363;
}

/* 
| LANDING DISPLAY RULES
|
+-------------------------------------------------------*/
.fullscreen {
    padding: 20px;
    max-width: 100%;
    font-size: 3.5em;
    flex-direction: column;
    overflow-wrap: break-word;
}

.project-detail, .project-detail-title {
    overflow-wrap: break-word;
    justify-content: left;
}

.portfolio-small {
    display: block;
    font-size: .7em;
    line-height: 1.1em !important;
    padding: 1.6% 0 0 0;
}

#landing-button-container {
    display:none !important;
}

#landing-button {
    width: auto;
}

#landing-ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 0;
    list-style-type: none;
}
.landing-a-div {
    display: flex;
    /* align-items: flex-end; */
    padding: 0;
    margin: .8%;
    min-height: 150px !important;
    height: 7em;
    min-width: 170px !important;
    width: 24%;
    font-family: 'Courier Prime';
    color:#1c6363;
    text-decoration: none;
    border: 2px solid #1c6363;
    justify-content: center; 
    /* Aligns items on the horizontal line */
    align-items: flex-end;
}
.landing-a-div:hover {
    background-color: #4dcbcb !important;
}
.landing-li {
    margin: 3%;
    text-align: left;
    height: fit-content;
}
.landing-li a:hover {
    font-family: 'Courier Prime';
}
.portfolio-expand {
    font-weight: 600;
}
.portfolio-expand:hover {
    font-weight: 600;
    background-color: #4dcbcb;
}

/* 
| SKILL PILL BUTTON RULES
|
+-------------------------------------------------------*/
#main-skill-container {
    display:flex;
    flex-wrap: wrap;
    /* justify-content: left; */
    height: auto;
}

.skill-item {
    font-size: 1.3em;
    height: 1.35em;
    background-color: #4dcbcb;
    border-radius: 3%;
    padding: 2.5px;
    margin: 3px;
    border: 2px solid #165050;
    box-shadow:3px 3px 50 0 #1c6363;
}

.skill-button-comfort-toggle {
    background-color: #edd98b;
}
.skill-button-comfort{
    background-color: #edd98b;
}

.skill-button-comfort:hover {
    background-color: white;
    background-image: linear-gradient(to bottom, #edd98b, #e9c2b0) !important;
}

.skill-button-solid-toggle {
    background-color: #e9c2b0;
}

.skill-button-solid {
    background-color: #e9c2b0;
}

.skill-button-solid:hover {
    background-color: white;
    background-image: linear-gradient(to bottom, #e9c2b0, #f5a3d3) !important;
}

.skill-button-new-toggle {
    background-color: #f5a3d3;
}

.skill-button-new {
    background-color: #f5a3d3;
}

.skill-button-new:hover {
    background-color: white;
    background-image: linear-gradient(to bottom, #f5a3d3, #b0bbd4) !important;
}

.skill-button-exciting-toggle {
    background-color: #b0bbd4;
}

.skill-button-exciting {
    background-color: #b0bbd4;
}

.skill-button-exciting:hover {
    background-color: #b0bbd4;
}

.skill-item:hover {
    box-shadow:4 4 20 3 pink;
    border: 2px solid #165050;
}

.skills-container-div {
    display: block;
    height:max-content;
    white-space: normal;
    word-wrap: break-word;
}

/* 
/
*/
#skills-div-heading {
    display: block;
    margin: 10% 0 8px 0;
    padding: 2% 0;
    height: 20%;
}

.skills-header-wrap {
    font-family: 'Courier Prime';
    font-weight: 500;
    font-size: 1.3em !important;
    padding: 2px 17px; /* Provide internal space around the content */
    margin: 0px 3px;
    border: 2px solid transparent;
}
.skills-header-wrap-slim {
    font-family: 'Courier Prime';
    font-weight: 500;
    font-size: 1.3em !important;
    border: 2px solid transparent;
    margin-top: 15px;
}

#main-skill-toggle-container {
    margin-top: 3%;
    padding: 0 0 8 8px 0;
    width: 100%;
}

.skill-group-row {
    display:flex;
    font-size: 1.1em;
    height: 1.15em;
    margin-bottom: 6px;
}

.check-div {
    display: block;
    border: 2px solid #1c6363;
    margin: 4px 10px 4px;
    width: 14px !important;
    height: 14px !important;
}

#skills-detail-container {
    margin: 2%;
    text-align: right;
}

/* 
| PROJECTS display classes
|
+-------------------------------------------------------*/
.projects-button {
    margin: 0;
    padding: 0;
    border-left: 1.8px solid #165050 !important;
    border-right: none;
    border-bottom: none;
    width: 103%;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    position:relative;
}

.project-detail {
    background-color: #96dfde;
}

.projects-title-container {
    padding-left: 8px;
    height: 4em;
    position: relative;
}

.projects-title-div {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.projects-detail-key {
    font-size: 1em;
    font-weight: 100;
    padding-right: 5%;
}

.projects-name {
    font-family: 'Courier Prime';
    font-size: 1.9em;
}

.projects-container--hidden {
    display:none !important;
}

.skills-container--hidden {
    display:none !important;
}

.contact-container--hidden {
    display:none !important;
}

.landing-container--hidden {
    display:none !important;
}

/* --------- projects expand area */

.project-detail--hidden {
    display:none !important;
}

/* detail expansion */
.project-detail, .project-detail-title {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    line-height: 1.1em;
}

.project-detail-grid, .project-detail-grid-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100% !important;
    padding: 0;
    position: relative;
    border-bottom: 1.2px solid #1c6363;
}

.project-detail-key, .project-detail-key-title {
    font-weight: 200;
    font-size: .8em;
    width: 12%;
    padding-right: .5% !important;
    text-align: right;
    margin-top: auto;
}

.project-detail-key-title {
    padding-bottom: .2%;
}

.project-detail-value, .project-detail-value-title {
    display: inline-block;
    text-align: left;
    padding-left: 1%;
    height: auto;
    white-space: normal;
    font-family: 'Courier Prime';
}

.project-detail-value {
    padding: 2% 0 0 8px !important;
}

.project-detail-value-title {
    font-size: 1.8em !important;
    height: auto;
    padding: 4% 1% 1% 1%;
}

.project-value-wide {
    width: 98% !important;
    font-size: 1.2em;
    padding: 1.5% !important;
}

.project-value-standard {
    width: 87% !important;
    font-size: 1.2em;
    padding-right: 4%;
}

.project-detail-value.project-value-standard {
    border-left: .8px solid #1c6363
}

/* Landing Rules for Mobile for  */
#landing-detail {
    display: block;
    width: 88%;
    font-size: .45em;
    margin: -4% 0 0 2% ;
    padding: 0%;
    overflow-wrap: break-word !important;
    white-space: normal;
}

#landing-button {
    font-weight: 700;
    font-family: 'Courier Prime';
    width: 88%;
    font-size: 1.6em;
    padding: 2% 0 0 0 ;
}

/* 
| MEDIA QUERIES
|
+-------------------------------------------------------*/
@media screen and (max-width:380px) {
    #grid-container {
        display:none !important;
        overflow: scroll;
    }

    #backup {
        width:100%;
        overflow-wrap: break-word;
        white-space: normal;
        padding: 3px;
        margin: 2%;
    }
}
@media screen and (min-width:381px) {
    #backup {
        display:none !important;
    }
}

@media screen and (min-width:380px) and (max-width:768px) {

    html {
        background-image: radial-gradient(#4dcbcb, #ebf9f9);
        height:auto;
        position: absolute;
        left: -2%;
        top: -2%;
    }

    header {
        flex-wrap: wrap;
        width: 100%;
    }

    #main-skill-container {
        display: none;
    }

    #main-skill-toggle-container {
        display:none;
    }
    
    .project-detail, .project-detail-title {
        overflow-wrap: break-word;
        justify-content: left;
    }

    #skills-detail {
        overflow-wrap: break-word !important;
        justify-content: left !important;
    }

    .skills-container-div, .skills-header-wrap-slim {
        text-align: left;
    }
}

@media screen and (max-width:480px) {
    header {
        max-height: 3em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        max-height: 4em;
    }
}

@media screen and (min-width: 769px) {
    /* CSS rules for screens that are between 769px and 1024px wide */
    html {
        background-image: radial-gradient(#4dcbcb, #ebf9f9);
        overflow-x: hidden; /* Hide horizontal scrollbar */
        margin: -10px;
        position: absolute;
        overflow: hidden;
        height: 100%;
        max-height: 100%;
    }

    header {
        min-height: 2em;
        height: 6em;
    }
    
    .item-col-left-main {
        padding-left: 10%;
    }

    .detail {
        padding-left: 12%;
    }

    .rowdiv {
        border-left: 1.8px solid #1c6363 !important;
    }

    #button-group {
        width: 44% !important;
    }

    /* Landing rules for large screens only */

    #landing-detail {
        display: block;
        width: 70%;
        font-size: .45em;
        margin: 0 auto 0 10% ;
        padding: 0%;
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;
        white-space: normal;
    }

    .selected-main-detail {
        max-height: 90vh;
        overflow-y: auto;
        padding-right: 4%;
        text-align: right;
    }
    
    #landing-button {
        font-family: 'Courier Prime';
        line-height: .7em;
        font-size: 3em;
        font-weight: 500;
        letter-spacing: -5px;
        width: auto;
        padding: 2% 0 0 0;
        margin: 0 2px 0 0%;
    }


    .selected-main-detail {
        display: flex;
        padding-left: 20%;
    }

    .selected-main-container {
        width: 100%;
        position: relative;
        float: right;
    }

    #main-skill-container {
        justify-content: left;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
/* CSS rules for screens that are between 769px and 1024px wide */
    header {
        min-height: 2em;
        height: 6em;
    }
}

@media screen and (min-width: 1025px) {
/* CSS rules for screens that are greater than 1025px wide */
    header {
        word-wrap: break-word;
        min-height: 2em;
        height: 6em;
    }
}